// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Code

// Header
.header {
    .navbar {
        .container-fluid {
            a.navbar-brand {
                font-weight: 600;
            }

            .navbar-toggler {
                border: none;
            }

            .navbar-toggler:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}